*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
.slider-wrapper{
    width:400px;
    height:300px;
    margin:100px auto;
    border:5px solid red;
    position: relative;
    overflow: hidden;
}
.sliders{
   position: absolute;
   left:0;
   top:0;
   height:300px;
}
.sliders .slider{
    width:400px;
    height:300px;
    float:left;
}
.sliders .slider img{
    width:100%;
    height:100%;
}