*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
.slider-wrapper{
    width:400px;
    height:300px;
    margin:100px auto;
    border:5px solid red;
    position: relative;
    overflow: hidden;
}
.sliders{
   position: absolute;
   left:0;
   top:0;
   height:300px;
}
.sliders .slider{
    width:400px;
    height:300px;
    float:left;
}
.sliders .slider img{
    width:100%;
    height:100%;
}
.slider-arrows{
    position: absolute;
    top:50%;
    margin-top:-15px;
    height:30px;
    width:100%;
}
.slider-arrows .slider-arrow{
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: #EEE;
    color:black;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.slider-arrows .slider-arrow:hover{
    background-color: #CCC;
}
.slider-arrow.arrow-left{
    float:left;
    margin-left:10px;
}
.slider-arrow.arrow-right{
    float:right;
    margin-right:10px;
}